name: CI
on:
  pull_request:
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '16.x'
      - run: npm ci
      - run: npm run lint
      - run: npm run test

  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '16.x'
      - run: npm ci
      - run: npm run lint
      - run: npm run coverage
      - uses: codecov/codecov-action@v5.5.1

  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: docker build -t jkroepke/github_exporter .
      - run: docker run --rm jkroepke/github_exporter --version
