name: Release
env:
  HUSKY: "0"
on:
  workflow_dispatch:
  repository_dispatch:
    types: [semantic-release]

permissions: {}

jobs:
  run:
    environment: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: "24.x"
      - run: npm ci --ignore-scripts
      - run: npm run lint
      - run: npm run test
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release --branches main
