name: Release
env:
  HUSKY: "0"
on:
  workflow_dispatch:
  repository_dispatch:
    types: [semantic-release]

permissions: {}

jobs:
  run:
    environment: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    steps:
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: 1248576
          private-key: ${{ secrets.AUTOMATION_APP_PRIVATE_KEY }}
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: "true"
          token: "${{ steps.app-token.outputs.token }}"
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: "24.x"
      - run: npm ci --ignore-scripts
      - run: npm run lint
      - run: npm run test
      - name: Release
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
        run: npx semantic-release --branches main
